In [1]:
import pandas as pd

In [2]:
df_ratings = pd.read_csv('critics_audience_ratings.csv')
df_ratings.head(1)

,ranking,critic_score,title,number_of_critic_ratings,title_aud,audience_score,audience_rating
0,53,100,12 Angry Men (Twelve Angry Men) (1957),49,12 Angry Men (Twelve Angry Men) (1957),97,103672

In [3]:
df_review = pd.read_csv('movies_review_text.csv')
df_review.head(1)

,title,review_url,review
0,12 Angry Men (Twelve Angry Men) (1957),http://www.rogerebert.com/reviews/great-movie-...,"In form, ""12 Angry Men"" is a courtroom drama. ..."

In [4]:
df_poster = pd.read_csv('movie_poster_urls.csv')
df_poster.head(1)

,ranking,title,poster_url
0,53,12_Angry_Men_(1957_film),https://upload.wikimedia.org/wikipedia/en/9/91...

In [5]:
df = pd.merge(df_ratings, df_review, on='title', how='outer')

In [8]:
df = pd.merge(df, df_poster, on='ranking')

In [10]:
df = df.sort_values('ranking').reset_index(drop=True)

In [11]:
df.drop(columns=['title_aud', 'title_y'], inplace=True)

In [12]:
df.rename(columns={'title_x':'title'}, inplace=True)

In [13]:
df.head(3)

,ranking,critic_score,title,number_of_critic_ratings,audience_score,audience_rating,review_url,review,poster_url
0,1,99,The Wizard of Oz (1939),110,89,874425,http://www.rogerebert.com/reviews/great-movie-...,As a child I simply did not notice whether a m...,https://upload.wikimedia.org/wikipedia/commons...
1,2,100,Citizen Kane (1941),75,90,157274,http://www.rogerebert.com/reviews/great-movie-...,â€œI don't think any word can explain a man's li...,https://upload.wikimedia.org/wikipedia/en/c/ce...
2,3,100,The Third Man (1949),77,93,53081,http://www.rogerebert.com/reviews/great-movie-...,Has there ever been a film where the music mor...,https://upload.wikimedia.org/wikipedia/en/2/21...

In [14]:
# Saving it locally
df.to_csv('full_movies_reviews.csv', index=False)